/* * {
  margin: 0;
  padding: 0;
}
.default-container,
.component-container {
  cursor: pointer;
  display: flex;
  flex-direction: column; */

  /* justify-content: center; */
  /* align-items: center; */

/* } */

/* .default-container {
  gap: 20px;
}
.component-container {
  margin-top: 30px;
  gap: 20px;
}
button {
  padding: 5px 10px;
  font-size: 16px;
} */
/* ------------------------- */

.screenbody{
  margin: 0;
  padding: 0;
  display: flex;
}

.body1{
  display: flex;
  justify-content: left;
  width: 20vw;
}

.body2{
  display: flex;
  width: 80vw;
}

