/* ---------------NAVBAR------------------- */
.navigationtitle{
  box-shadow: 0px 0px 15px 5px rgb(228, 226, 226);
}
.navbarlogo{
  width: 30px;
  filter: invert(-0.2);
  margin-right: 5px;
}

.niceadmin{
  font-weight: 500;
  font-size: 26px;
  color: #012970;
}

.dropdown{
  margin-right: 200px;
}



/* ---------------SIDEBAR------------------ */
.sidebar {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  width: 15vw;
  height: 100vh;
  box-shadow: 0px 0px 0px 1px black;
}

.accordion {
  margin: 0px 20px;
  padding-top: 20px;
  border: none;
  font-weight: 500;
}

.accordionheader {
  box-shadow: 0px 0px 0px 0.01px rgb(191, 191, 222);
  border: none;
  font-weight: 500;
}

.headertitle{
  font-weight: 500;
  font-size: 15px;
}

.accordionitem {
  border-radius: 0px;
  border: none;
  font-weight: 500;
}

.accordianitem:hover{
  background-color: aliceblue;
}

.accordionitem ul li {
  list-style: circle;
  padding: 10px 0px;
  margin: 0px;
  text-decoration: none;
  color: #012970;;
  font-size: 15px;
}

.accordionbody {
  margin: 0px;
  padding: 7px 30px;
  border: none;
}

.accordionbody ul{
  margin-bottom: 0px;
}

.accordionbody ul li a {
  text-decoration: none;
  color: #012970;;
}

.accordionbody ul li:hover{
  text-decoration: none;
  color: #4154f1;
}

.accordionbody ul li:hover{
  text-decoration: none;
  color: #4154f1;
}

.accordionbody ul li a:hover{
  text-decoration: none;
  color: #4154f1;
}

.cardicon {
  filter: invert(0.5);

  padding-right: 10px;
}

.cardicon:hover{
  filter: invert(-0.2);
}

/* -----------------Add Application----------------- */
.addapplication{
  align-items: center;
  justify-content: center;
}
/* ---------------Process Application--------------- */
.processapplication{
  align-items: center;
  justify-content: center;
}