/* ---------------NAVBAR------------------- */
.navigationtitle {
    box-shadow: 0px 0px 25px 5px rgb(228, 226, 226);
}

.navigationtitle span {
    margin-right: 30px;
    cursor: pointer;
}

.navbarlogo {
    width: 30px;
    filter: invert(-0.2);
    margin: 0px 5px 5px 0px;
}

.niceadmin {
    font-weight: 500;
    font-size: 26px;
    color: #012970;
    text-decoration: none;
    margin-top: 0px;
}

.cus_close_slide {
    display: none;
}

.listicon {
    margin-left: 70px;
}

.listiconactive {
    margin-left: 70px;
}

.togglesidebarbtn {
    font-size: 75px;
    padding-left: 0px;
    cursor: pointer;
    color: #012970;
    margin-left: 70px
}

/* @media (max-width: 1199px) {
    .toggle-sidebar .sidebar {
        left: 0;
    }
} */

@media (min-width: 1200px) {

    .toggle-sidebar #main,
    .toggle-sidebar #footer {
        margin-left: 0;
    }

    .toggle-sidebar .sidebar {
        left: -300px;
    }
}

.dflex {
    margin: 8px 0px 0px 30px;
    display: flex;
    height: 35px;
    width: 300px;
}

.profileimg {
    margin-right: 5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.dropdown {
    color: #012970;
    font-size: 14px;
    font-weight: 500;

}

.dropdownitem {
    width: 200px;
    height: 25px;
}

.dropdownimg {
    margin-right: 5px;
}

.name {
    font-weight: 700px;
    margin-left: 30px;
    font-size: 18px;
}

.designation {
    margin-left: 40px;
    font-size: 14px;
}