/* ---------------NAVBAR------------------- */
.navigationtitle {
    box-shadow: 0px 0px 25px 5px rgb(228, 226, 226);
}

.navigationtitle span{
    margin-right: 30px;
    cursor: pointer;
}

.navbarlogo {
    width: 30px;
    filter: invert(-0.2);
    margin-right: 5px;
}

.niceadmin {
    font-weight: 500;
    font-size: 26px;
    color: #012970;
    text-decoration: none;
}

.listicon {
    margin: 0px 0px 0px 70px;
}

.listiconactive{
    margin-left: 70px;
}

.dflex {
    margin: 8px 0px 0px 30px;
    display: flex;
    height: 35px;
    width: 300px;
}

.dropdownitem{
    width: 200px;
    height: 25px;
}

.dropdownimg{
    margin-right: 5px;
}
.name{
    font-weight: 700px;
    margin-left: 30px;
    font-size: 18px;
}
.designation{
    margin-left: 40px;
    font-size: 14px;
}

/* ================================================================= */


.openmenu{
    margin: 0px;
    padding: 0px;
    width: 16vw;

}